header.header
	a.logo.header__logo(href="/mock-address/change-me")
		img.logo__img(src="../images/logo.png" width="106" heigth="40" alt="Логотип")
	ul.nav.header__nav
		li.nav__item
			a.nav__link(href="/mock-address/change-me") О нас
		li.nav__item.nav__item--have-sublists
			a.nav__link(href="/mock-address/change-me") Услуги
		li.nav__item
			a.nav__link(href="/mock-address/change-me") Вакансии
		li.nav__item
			a.nav__link(href="/mock-address/change-me") Новости
		li.nav__item.nav__item--have-sublists
			a.nav__link(href="/mock-address/change-me") Соглашения
	ul.user-block.header__user-block
		li.user-block__item
			a.btn.user-block__link.user-block__link--login.no-js(href="/mock-address/change-me") войти
			a.btn.user-block__link.user-block__link--sign-up.no-js(href="/mock-address/change-me") зарегистрироваться
		li.user-block__item.visually-hidden
			a.user-block__link.user-block__link--authorized-user(href="/mock-address/change-me") Иван Иванов