header.header
	a.logo(href="/mock-address/change-me")
		img.logo__img(src="../img/logo.png" width="106" heigth="40" alt="Логотип")
	ul.nav
		li.nav__item
			a.nav__link(href="/mock-address/change-me") О нас
		li.nav__item.nav__item--have-sublists
			a.nav__link(href="/mock-address/change-me") Услуги
		li.nav__item
			a.nav__link(href="/mock-address/change-me") Вакансии
		li.nav__item
			a.nav__link(href="/mock-address/change-me") Новости
		li.nav__item.nav__item--have-sublists
			a.nav__link(href="/mock-address/change-me") Соглашения
	ul.user-block
		li.user-block__item
			a.user-block__link.user-block__link--login.no-js(href="/mock-address/change-me") Войти
			a.user-block__link.user-block__link--sign-up.no-js(href="/mock-address/change-me") Зарегистрироваться
		li.user-block__item.visually-hidden
			a.user-block__link.user-block__link--authorized-user(href="/mock-address/change-me")
				img.user-pic(src="#" alt="Картинка поользователя") 
				span.user-name Иван Иванов