<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Document
body
	//- include ../components/registration/registration.pug
	//- include ../components/login/login.pug
	include ../components/dropdown/dropdown.pug