.header {
	box-sizing: border-box;
	font-size: 1rem;
	padding: 12px 0; 

	@media (min-width: $width-mobile) {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		align-content: center;
		justify-content: space-between;

		padding: 1.04% 4.8%;
	}

	@media(min-width: 1300px) {
		padding: 1.04% 9.7%;
		justify-content: start;
	}
}

.logo {
  display: block;
  width: 150px;
  height: 50px;
  margin: 0 auto;

  @media (min-width: $width-mobile) { 
  	display: inline;
   	margin: 0;
	}

	@media (min-width: 1000px) {
		width: auto;
	}
}

.nav {
	@include reset-list-style();

	@media (min-width: $width-mobile) {
		margin: 12px 0;
		margin-left: 5px;
	}

	@media(min-width: 700px) {
		margin-left: auto;
	}

	@media(min-width: 1440px) {
		margin-left: 24.5%; 
	}
}

.nav__item {
	text-align: center;
	padding: 10px 0;

	@media (min-width: $width-mobile) {
		display: inline-block;
		margin-right: 1.4em;
		text-align: left;	
		padding: 0;
	}
}

.nav__item--have-sublists {	
	@media (min-width: $width-mobile) {
		margin-right: 3.2em;
	}
}

.nav__item--have-sublists .nav__link {
	position: relative;

	&::after {
		content: "";
		display: block;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 0;
	  right: -22px;

		background: url('../img/on-select.png') no-repeat;
		background-position: 5px 5px;
	}
}

.nav__link {
	@include fonts-for-navigation();
	text-decoration: none;
	cursor: pointer;
	letter-spacing: 0.04166em;
}

.user-block {
	@include reset-list-style();
	margin: 0 9.7%;
	margin-top: 20px;

	@media (min-width: $width-mobile) {
		margin: 0;
		margin-top: 5px;
	}

	@media (min-width: 1440px) {
		margin-top: -2px;
	}
}

.user-block__link {
	@include fonts-for-buttons();
	display: block;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	margin-top: 10px;

	cursor: pointer;

	@media (min-width: $width-mobile) {
		display: inline-block;
		margin: 0;
		margin-right: 1.66em;
	}
}

.user-block__link--login {
	@include button-theme-of-transparent();
}

.user-block__link--sign-up  {
	@include button-theme-of-purple();

	@media (min-width: $width-mobile) { 
		margin-right: 0;
	}
}