.room-search {
	position: relative;
	max-width: 380px;

	background: #ffffff;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 40px 30px 30px 30px;
	margin: 0;

	&__title {
		margin: 0;
	}

	&__link {
		display: block;
		margin-top: 30px;
		padding-top: 15px;
		padding-bottom: 15px;
		position: relative;
	}

	&__link::before {
		content: "";
    display: block;
    width: 27px;
    height: 25px;
    position: absolute;
    top: 7px;
    right: 8px;

		background: url('../images/sprite.png') no-repeat;
		background-position: 0px -20px;
	}

	@media(max-width: 500px) {
    width: 95%;
    margin: 5px auto;
    padding: 40px 12px 30px 12px;
	}

	@media(min-width: 400px) {
    padding: 40px 30px 30px 30px;
	}

	@media(max-width: 450px) {
		&__title {
	  	font-size: 19px;
	    letter-spacing: 0;
		}
	}
}

.datepicker-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.datepicker__label {
	position: relative;
	margin-top: 21px;
	
	@media(max-width: 500px) {
		width: 100%;
	}
}

.datepicker__input {
	display: block;
	width: 150px;
	margin-top: 5px;

	@media(max-width: 500px) {
		width: 100%;
	}
}

.datepicker__label::before {
	content: "";
  display: block;
  position: absolute;
  bottom: 11px;
  right: 13px;
  width: 20px;
  height: 20px;
  background: url("../images/sprite.png") no-repeat;
  background-position: 0 -312px;
}

@media (min-width: 1600px) {
	.datepicker__label::before {
		content: "";
	  background: url("../images/sprite.png") no-repeat;
	  background-position: 2px -317px;
	}	
}

.select-guest__label {
	position: relative;
	margin-top: 23px;
	width: 100%;

	&::before {
		content: "";
	  display: block;
	  position: absolute;
	  bottom: 11px;
	  right: 13px;
	  width: 20px;
	  height: 20px;
	  background: url("../images/sprite.png") no-repeat;
	  background-position: 0 -312px;
	}

	@media (min-width: 1600px) {
		&::before {
			content: "";
		  background: url("../images/sprite.png") no-repeat;
		  background-position: 2px -317px;
		}	
	}
}

.select-guest__input {
	display: block;
	width: 100%;
	margin-top: 5px;
}