html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

@media (min-width: 500px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 1600px) {
	html {
		font-size: 16px;
	}
}

body {
	min-width: 320px;
	max-width: 1920px;
	margin: 0 auto;

	// width: 1440px;

	// border: 1px solid green;
}

.visually-hidden {
	display: none;
}