section.catalog
	h1.catalog__title Номера, которые мы для вас подобрали
	div.catalog__container
		div.card.catalog__card
			header.card-slide
				div.card-slide__item 
					img(src="../images/goods-image/image.jpg" alt="Слайд")
				div.card-slide__item 
					img(src="../images/goods-image/image-2.jpg" alt="Слайд")
				div.card-slide__item 
					img(src="../images/goods-image/image-3.jpg" alt="Слайд")
				div.card-slide__item 
					img(src="../images/goods-image/image-3.jpg" alt="Слайд")
				a.card-slide__btn.card-slide__btn--prev &#10094;
				a.card-slide__btn.card-slide__btn--next &#10095;
				div.card-slide__dots
					span.card-slide__dots-item.active(id="1")
					span.card-slide__dots-item(id="2") 
					span.card-slide__dots-item(id="3")
					span.card-slide__dots-item(id="4")
			div.card__main
				div.card__column.card__column--top
					span.card__number-room № <span class="value">888</span> <span class="card__status-room">Люкс</span>
					span.card__price 9 990 <span class="card__currency">₽</span> <b>в сутки</b>
				div.card__column.card__column--bottom
					ul.card__rating.card__rating--one-star
						li.current <span class="start1"></span>
						li <span class="start2"></span>
						li <span class="start3"></span>
						li <span class="start4"></span>
						li <span class="start5"></span>
					span.card__comments <span class="card__count-comments">145</span> Отзывов

			//- 
		div.card.catalog__card
			header.card-slide
				div.card-slide__item 
					img(src="../images/slide-1.jpg" alt="Слайд")
				div.card-slide__item 
					img(src="../images/slide-2.jpg" alt="Слайд")
				div.card-slide__item 
					img(src="../images/slide-3.jpg" alt="Слайд")
				div.card-slide__item 
					img(src="../images/slide-3.jpg" alt="Слайд")
				a.card-slide__btn.card-slide__btn--prev &#10094;
				a.card-slide__btn.card-slide__btn--next &#10095;
				div.card-slide__dots
					span.card-slide__dots-item.active(id="1")
					span.card-slide__dots-item(id="2") 
					span.card-slide__dots-item(id="3")
					span.card-slide__dots-item(id="4")
			div.card__main
				div.card__column.card__column--top
					span.card__number-room № <span class="value">888</span> <span class="card__status-room">Люкс</span>
					span.card__price 9 990 <span class="card__currency">₽</span> <b>в сутки</b>
				div.card__column.card__column--bottom
					ul.card__rating
						li.current <span class="start1"></span>
						li <span class="start2"></span>
						li <span class="start3"></span>
						li <span class="start4"></span>
						li <span class="start5"></span>
					span.card__comments <span class="card__count-comments">145</span> Отзывов
		//- div.card.catalog__card
		//- 	header.card-slide
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-2.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		a.card-slide__btn.card-slide__btn--prev &#10094;
		//- 		a.card-slide__btn.card-slide__btn--next &#10095;
		//- 		div.card-slide__dots
		//- 			span.card-slide__dots-item(id="1")
		//- 			span.card-slide__dots-item(id="2") 
		//- 			span.card-slide__dots-item(id="3")
		//- 			span.card-slide__dots-item(id="4")
		//- 	div.card__main
		//- 		div.card__column.card__column--top
		//- 			span.card__number-room № <span class="value">888</span> <span class="card__status-room">Люкс</span>
		//- 			span.card__price 9 990 <span class="card__currency">₽</span> <b>в сутки</b>
		//- 		div.card__column.card__column--bottom
		//- 			ul.card__rating
		//- 				li.current <span class="start1"></span>
		//- 				li <span class="start2"></span>
		//- 				li <span class="start3"></span>
		//- 				li <span class="start4"></span>
		//- 				li <span class="start5"></span>
		//- 			span.card__comments <span class="card__count-comments">145</span> Отзывов
		//- div.card.catalog__card
		//- 	header.card-slide
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-2.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		a.card-slide__btn.card-slide__btn--prev &#10094;
		//- 		a.card-slide__btn.card-slide__btn--next &#10095;
		//- 		div.card-slide__dots
		//- 			span.card-slide__dots-item(id="1")
		//- 			span.card-slide__dots-item(id="2") 
		//- 			span.card-slide__dots-item(id="3")
		//- 			span.card-slide__dots-item(id="4")
		//- 	div.card__main
		//- 		div.card__column.card__column--top
		//- 			span.card__number-room № <span class="value">888</span> <span class="card__status-room">Люкс</span>
		//- 			span.card__price 9 990 <span class="card__currency">₽</span> <b>в сутки</b>
		//- 		div.card__column.card__column--bottom
		//- 			ul.card__rating
		//- 				li.current <span class="start1"></span>
		//- 				li <span class="start2"></span>
		//- 				li <span class="start3"></span>
		//- 				li <span class="start4"></span>
		//- 				li <span class="start5"></span>
		//- 			span.card__comments <span class="card__count-comments">145</span> Отзывов
		//- div.card.catalog__card
		//- 	header.card-slide
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-2.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		a.card-slide__btn.card-slide__btn--prev &#10094;
		//- 		a.card-slide__btn.card-slide__btn--next &#10095;
		//- 		div.card-slide__dots
		//- 			span.card-slide__dots-item(id="1")
		//- 			span.card-slide__dots-item(id="2") 
		//- 			span.card-slide__dots-item(id="3")
		//- 			span.card-slide__dots-item(id="4")
		//- 	div.card__main
		//- 		div.card__column.card__column--top
		//- 			span.card__number-room № <span class="value">888</span> <span class="card__status-room">Люкс</span>
		//- 			span.card__price 9 990 <span class="card__currency">₽</span> <b>в сутки</b>
		//- 		div.card__column.card__column--bottom
		//- 			ul.card__rating
		//- 				li.current <span class="start1"></span>
		//- 				li <span class="start2"></span>
		//- 				li <span class="start3"></span>
		//- 				li <span class="start4"></span>
		//- 				li <span class="start5"></span>
		//- 			span.card__comments <span class="card__count-comments">145</span> Отзывов
		//- div.card.catalog__card
		//- 	header.card-slide
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-2.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		a.card-slide__btn.card-slide__btn--prev &#10094;
		//- 		a.card-slide__btn.card-slide__btn--next &#10095;
		//- 		div.card-slide__dots
		//- 			span.card-slide__dots-item(id="1")
		//- 			span.card-slide__dots-item(id="2") 
		//- 			span.card-slide__dots-item(id="3")
		//- 			span.card-slide__dots-item(id="4")
		//- 	div.card__main
		//- 		div.card__column.card__column--top
		//- 			span.card__number-room № <span class="value">888</span> <span class="card__status-room">Люкс</span>
		//- 			span.card__price 9 990 <span class="card__currency">₽</span> <b>в сутки</b>
		//- 		div.card__column.card__column--bottom
		//- 			ul.card__rating
		//- 				li.current <span class="start1"></span>
		//- 				li <span class="start2"></span>
		//- 				li <span class="start3"></span>
		//- 				li <span class="start4"></span>
		//- 				li <span class="start5"></span>
		//- 			span.card__comments <span class="card__count-comments">145</span> Отзывов
		//- div.card.catalog__card
		//- 	header.card-slide
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-2.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		a.card-slide__btn.card-slide__btn--prev &#10094;
		//- 		a.card-slide__btn.card-slide__btn--next &#10095;
		//- 		div.card-slide__dots
		//- 			span.card-slide__dots-item(id="1")
		//- 			span.card-slide__dots-item(id="2") 
		//- 			span.card-slide__dots-item(id="3")
		//- 			span.card-slide__dots-item(id="4")
		//- 	div.card__main
		//- 		div.card__column.card__column--top
		//- 			span.card__number-room № <span class="value">888</span> <span class="card__status-room">Люкс</span>
		//- 			span.card__price 9 990 <span class="card__currency">₽</span> <b>в сутки</b>
		//- 		div.card__column.card__column--bottom
		//- 			ul.card__rating
		//- 				li.current <span class="start1"></span>
		//- 				li <span class="start2"></span>
		//- 				li <span class="start3"></span>
		//- 				li <span class="start4"></span>
		//- 				li <span class="start5"></span>
		//- 			span.card__comments <span class="card__count-comments">145</span> Отзывов
		//- div.card.catalog__card
		//- 	header.card-slide
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-2.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		a.card-slide__btn.card-slide__btn--prev &#10094;
		//- 		a.card-slide__btn.card-slide__btn--next &#10095;
		//- 		div.card-slide__dots
		//- 			span.card-slide__dots-item(id="1")
		//- 			span.card-slide__dots-item(id="2") 
		//- 			span.card-slide__dots-item(id="3")
		//- 			span.card-slide__dots-item(id="4")
		//- 	div.card__main
		//- 		div.card__column.card__column--top
		//- 			span.card__number-room № <span class="value">888</span> <span class="card__status-room">Люкс</span>
		//- 			span.card__price 9 990 <span class="card__currency">₽</span> <b>в сутки</b>
		//- 		div.card__column.card__column--bottom
		//- 			ul.card__rating
		//- 				li.current <span class="start1"></span>
		//- 				li <span class="start2"></span>
		//- 				li <span class="start3"></span>
		//- 				li <span class="start4"></span>
		//- 				li <span class="start5"></span>
		//- 			span.card__comments <span class="card__count-comments">145</span> Отзывов
		//- div.card.catalog__card
		//- 	header.card-slide
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-2.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		a.card-slide__btn.card-slide__btn--prev &#10094;
		//- 		a.card-slide__btn.card-slide__btn--next &#10095;
		//- 		div.card-slide__dots
		//- 			span.card-slide__dots-item(id="1")
		//- 			span.card-slide__dots-item(id="2") 
		//- 			span.card-slide__dots-item(id="3")
		//- 			span.card-slide__dots-item(id="4")
		//- 	div.card__main
		//- 		div.card__column.card__column--top
		//- 			span.card__number-room № <span class="value">888</span> <span class="card__status-room">Люкс</span>
		//- 			span.card__price 9 990 <span class="card__currency">₽</span> <b>в сутки</b>
		//- 		div.card__column.card__column--bottom
		//- 			ul.card__rating
		//- 				li.current <span class="start1"></span>
		//- 				li <span class="start2"></span>
		//- 				li <span class="start3"></span>
		//- 				li <span class="start4"></span>
		//- 				li <span class="start5"></span>
		//- 			span.card__comments <span class="card__count-comments">145</span> Отзывов
		//- div.card.catalog__card
		//- 	header.card-slide
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-2.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		a.card-slide__btn.card-slide__btn--prev &#10094;
		//- 		a.card-slide__btn.card-slide__btn--next &#10095;
		//- 		div.card-slide__dots
		//- 			span.card-slide__dots-item(id="1")
		//- 			span.card-slide__dots-item(id="2") 
		//- 			span.card-slide__dots-item(id="3")
		//- 			span.card-slide__dots-item(id="4")
		//- 	div.card__main
		//- 		div.card__column.card__column--top
		//- 			span.card__number-room № <span class="value">888</span> <span class="card__status-room">Люкс</span>
		//- 			span.card__price 9 990 <span class="card__currency">₽</span> <b>в сутки</b>
		//- 		div.card__column.card__column--bottom
		//- 			ul.card__rating
		//- 				li.current <span class="start1"></span>
		//- 				li <span class="start2"></span>
		//- 				li <span class="start3"></span>
		//- 				li <span class="start4"></span>
		//- 				li <span class="start5"></span>
		//- 			span.card__comments <span class="card__count-comments">145</span> Отзывов
		//- div.card.catalog__card
		//- 	header.card-slide
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-2.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		a.card-slide__btn.card-slide__btn--prev &#10094;
		//- 		a.card-slide__btn.card-slide__btn--next &#10095;
		//- 		div.card-slide__dots
		//- 			span.card-slide__dots-item(id="1")
		//- 			span.card-slide__dots-item(id="2") 
		//- 			span.card-slide__dots-item(id="3")
		//- 			span.card-slide__dots-item(id="4")
		//- 	div.card__main
		//- 		div.card__column.card__column--top
		//- 			span.card__number-room № <span class="value">888</span> <span class="card__status-room">Люкс</span>
		//- 			span.card__price 9 990 <span class="card__currency">₽</span> <b>в сутки</b>
		//- 		div.card__column.card__column--bottom
		//- 			ul.card__rating
		//- 				li.current <span class="start1"></span>
		//- 				li <span class="start2"></span>
		//- 				li <span class="start3"></span>
		//- 				li <span class="start4"></span>
		//- 				li <span class="start5"></span>
		//- 			span.card__comments <span class="card__count-comments">145</span> Отзывов
		//- div.card.catalog__card
		//- 	header.card-slide
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-2.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		a.card-slide__btn.card-slide__btn--prev &#10094;
		//- 		a.card-slide__btn.card-slide__btn--next &#10095;
		//- 		div.card-slide__dots
		//- 			span.card-slide__dots-item(id="1")
		//- 			span.card-slide__dots-item(id="2") 
		//- 			span.card-slide__dots-item(id="3")
		//- 			span.card-slide__dots-item(id="4")
		//- 	div.card__main
		//- 		div.card__column.card__column--top
		//- 			span.card__number-room № <span class="value">888</span> <span class="card__status-room">Люкс</span>
		//- 			span.card__price 9 990 <span class="card__currency">₽</span> <b>в сутки</b>
		//- 		div.card__column.card__column--bottom
		//- 			ul.card__rating
		//- 				li.current <span class="start1"></span>
		//- 				li <span class="start2"></span>
		//- 				li <span class="start3"></span>
		//- 				li <span class="start4"></span>
		//- 				li <span class="start5"></span>
		//- 			span.card__comments <span class="card__count-comments">145</span> Отзывов
		//- div.card.catalog__card
		//- 	header.card-slide
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-2.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		a.card-slide__btn.card-slide__btn--prev &#10094;
		//- 		a.card-slide__btn.card-slide__btn--next &#10095;
		//- 		div.card-slide__dots
		//- 			span.card-slide__dots-item(id="1")
		//- 			span.card-slide__dots-item(id="2") 
		//- 			span.card-slide__dots-item(id="3")
		//- 			span.card-slide__dots-item(id="4")
		//- 	div.card__main
		//- 		div.card__column.card__column--top
		//- 			span.card__number-room № <span class="value">888</span> <span class="card__status-room">Люкс</span>
		//- 			span.card__price 9 990 <span class="card__currency">₽</span> <b>в сутки</b>
		//- 		div.card__column.card__column--bottom
		//- 			ul.card__rating
		//- 				li.current <span class="start1"></span>
		//- 				li <span class="start2"></span>
		//- 				li <span class="start3"></span>
		//- 				li <span class="start4"></span>
		//- 				li <span class="start5"></span>
		//- 			span.card__comments <span class="card__count-comments">145</span> Отзывов
		//- div.card.catalog__card
		//- 	header.card-slide
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-2.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		div.card-slide__item 
		//- 			img(src="../images/goods-image/image-3.jpg" alt="Слайд")
		//- 		a.card-slide__btn.card-slide__btn--prev &#10094;
		//- 		a.card-slide__btn.card-slide__btn--next &#10095;
		//- 		div.card-slide__dots
		//- 			span.card-slide__dots-item(id="1")
		//- 			span.card-slide__dots-item(id="2") 
		//- 			span.card-slide__dots-item(id="3")
		//- 			span.card-slide__dots-item(id="4")
		//- 	div.card__main
		//- 		div.card__column.card__column--top
		//- 			span.card__number-room № <span class="value">888</span> <span class="card__status-room">Люкс</span>
		//- 			span.card__price 9 990 <span class="card__currency">₽</span> <b>в сутки</b>
		//- 		div.card__column.card__column--bottom
		//- 			ul.card__rating
		//- 				li.current <span class="start1"></span>
		//- 				li <span class="start2"></span>
		//- 				li <span class="start3"></span>
		//- 				li <span class="start4"></span>
		//- 				li <span class="start5"></span>
		//- 			span.card__comments <span class="card__count-comments">145</span> Отзывов