section.sidebar
	div.datepicker
		label.datepicker__label(for="datepicker-here")
		input.datepicker__input(type="text" id="datepicker-here" placeholder="ДД.ММ.ГГГГ" redonly)
	div.select
		label.select__label(for="select-guests")
		input.select__input(type="text" id="select-guests" placeholder="Сколько гостей" redonly)
	div.slider
		h3.slider__title Название цены
			span.min-price 5 000 
				b.currency Р
			span.max-price 10 000 
				b.currency Р
		div.slider-range
		span.slider__reminder Стоймость за сутки пребывания в номере
	div.service
		h3.service__title Сервис
		input.sevice__input(type="checkbox" id="smoke")
		label.service__label(for="smoke") Можно курить
		input.sevice__input(type="checkbox" id="pets" checked)
		label.service__label(for="pets") Можно с питомцами
		input.sevice__input(type="checkbox" id="add-guests" checked)
		label.service__label(for="add-guests") Можно пригласить гостей (до 10 человек)
	div.availability
		h3.availability__title Доступность
		input.sevice__input(type="checkbox" id="wide-corridor")
		label.service__label(for="wide-corridor") Широкий коридор
			span Ширина коридора в номере не менее 91 см
		input.sevice__input(type="checkbox" id="assistant-for-disabled" checked)
		label.service__label(for="assistant-for-disabled") Можно с питомцами
			span На 1 этаже вас встретит специалист и проводит до номера
	div.room-amenities
		label.room-amenities__label(for="room-amenities") Удобства номера
		input.room-amenities__input(id="room-amenities")
		div.room-amenities__wrapper
			ul.room-amenities__calculate
				//- сюда вставить счетчик гостей id="calculate"
	div.add-room-amenities
		h3.add-room-amenities__title Дополнительные удобства
		input.add-room-amenities__input(type="checkbox" id="breakfast")
		label.add-room-amenities__label(for="breakfast") Завтрак
		input.add-room-amenities__input(type="checkbox" id="desk" checked)
		label.add-room-amenities__label(for="desk") Письменный стол
		input.add-room-amenities__input(type="checkbox" id="baby-chair" checked)
		label.add-room-amenities__label(for="baby-chair") Стул для комления
		input.add-room-amenities__input(type="checkbox" id="сot" checked)
		label.add-room-amenities__label(for="сot") Кроватка
		input.add-room-amenities__input(type="checkbox" id="tv")
		label.add-room-amenities__label(for="tv") Телевизор
		input.add-room-amenities__input(type="checkbox" id="shampoo")
		label.add-room-amenities__label(for="shampoo") Шампунь
		input.add-room-amenities__input(type="checkbox" id="tv")
		label.add-room-amenities__label(for="tv") Телевизор
		input.add-room-amenities__input(type="checkbox" id="shampoo")
		label.add-room-amenities__label(for="shampoo") Шампунь
