main.main-page
	div.slide-first
	div.slider-second
	div.slide-third
	section.room-search.main-page__room-search
		h2.room-search__title Найдём номера под ваши пожелания
		section.datepicker-wrapper
			label.datepicker__label(for="datepicker-here") Прибытие
				input.datepicker__input(id="datepicker-here" placeholder="ДД.ММ.ГГГГ" redonly)
			label.datepicker__label(for="datepicker-there") Выезд
				input.datepicker__input(id="datepicker-there" placeholder="ДД.ММ.ГГГГ" redonly)
		div.select-guest
			label.select-guest__label(for="select-guest") Гости
			input.select-guest__input(id="select-guest" placeholder="Сколько гостей")
			span.select-guest__toggle 
			div.select-guest__wrapper
				ul.calculate-guests
					//- сюда вставить счетчик гостей id="calculate"
				div.select-guest__btns
					button.select-gues__btn.select-gues__btn--clear(type="button") Очистить
					button.select-gues__btn.select-gues__btn--apply(type="button") Применить

		p.slogan.main-page__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения


template(id="calculate")
	li.calcualte__item
		span.calculate__element Взрослые
		div.calculate__btns
			button.calculate__btn.calculate__btn--minus(type="button") - 
			span.calculate__count-guest 0
			button.calculate__btn.calculate__btn--plus(type="button") + 
