div.date-picker
	label.date-picker__label Прибытие
		input.date-picker__input(id="date-picker" placeholder="ДД.ММ.ГГГГ" redonly)
	label.date-picker__label Выезд
		input.date-picker(placeholder="ДД.ММ.ГГГГ" redonly)