<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Toxin
	<meta name="viewport" content="initial-scale=1.0, width=device-width">
body
	div.wrapper
		div.content
			include components/header/header.pug
			include components/catalog/catalog-wrapper.pug
		include components/footer/footer.pug