<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Toxin
	<meta name="viewport" content="initial-scale=1.0, width=device-width">
body
	include components/header/header.pug
	//- svg.inline-svg-icon
	//- 	use(xlink:href="img/sprite.svg#search-icon")
	