<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Toxin
	<meta name="viewport" content="initial-scale=1.0, width=device-width">
body
	div.wrapper
		div.content
			include components/header/header.pug
			include components/main-page/main-page.pug
		include components/footer/footer.pug

	//- div.wrapper
	//- 	div.content
	//- 		include components/header/header.pug
	//- 		include components/main-page/main-page.pug
	//- 	include components/footer/footer.pug
	//- svg.inline-svg-icon
	//- 	use(xlink:href="img/sprite.svg#search-icon")