@import './global/fonts.scss';
@import './global/normalize.scss';
@import './global/mixins.scss';
@import './global/global.scss';
// @import './components/header/header.scss';
// @import './components/footer/footer.scss';

// .main-page {
// 	background: red;
// 	position: relative;

// 	// времеено

// 	height: 700px;
// }

// .main-page > .slide-first,
// .main-page > .slide-second,
// .main-page > .slide-third {
//   width: 100%;
//   height: 100%;
//   position:absolute;
//   left: 0;
//   right: 0;
//   top: 0;
//   opacity: 0;
//   background-size:1445px 755px;
//   background-position: center center;
//   background-repeat: no-repeat;
// }

// .slide-first {background-image: url('../img/background_10_vintage.jpg');}

// .slide-second {background-image: url('../img/background_14_alt.jpg');}

// .slide-third {background-image: url('../img/background_16_vintage.jpg');}

// .main-page > .slide-first {
// 	-webkit-animation: slide1 23.5s;
// 	-webkit-animation-iteration-count: infinite;
// }
// .main-page > .slide-second {
// 	-webkit-animation: slide2 23.5s;
// 	-webkit-animation-iteration-count: infinite;
// }
// .main-page > .slide-third {
// 	-webkit-animation: slide3 23.5s;
// 	-webkit-animation-iteration-count: infinite;
// }


// @-webkit-keyframes slide1 {
// 	0% {opacity: 1;}
// 	/*2.5% {opacity: 1;}*/
// 	22.5% {opacity: 1;}
// 	25% {opacity: 0;}
// 	95% {opacity: 0;}
// 	100% {opacity: 1;}
// }

// @-webkit-keyframes slide2 {
// 	22.5% {opacity: 0;}
// 	25% {opacity: 1;}
// 	27.5% {opacity: 1;}
// 	47.5% {opacity: 1;}
// 	50% {opacity: 0;}
// }

// @-webkit-keyframes slide3 {
// 	0% {opacity: 0;}
// 	72.5% {opacity: 0;}
// 	75% {opacity: 1;}
// 	77.5% {opacity: 1;}
// 	97.5% {opacity: 1;}
// 	100% {opacity: 0;}
// }

// .room-search {
// 	position: relative;
// }

.visually-hidden {
	display: none;
}