.footer {
	padding: 7.2% 9.7%;
	box-sizing: border-box;

	border: 1px solid red;
}

.general-info {
	width: 260px;

	border: 1px solid green;
}

.nav__title {
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	line-height: 15px;
	font-weight: 600;
	/* identical to box height */

	text-transform: uppercase;

	/* Dark 100% */

	color: #1F2041;
}