footer.footer
	div.footer__column.footer__column--top
		div.general-info
			img.general-info__logo(src="../images/logo.png" width="106" heigth="40" alt="Логотип")
			p.general-info__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
		ul.nav
			li.nav__item.nav__item--navigation
				h2.nav__title Навигация
				a.nav__link(href="/mock-address/change-me") О нас
				a.nav__link(href="/mock-address/change-me") Новости
				a.nav__link(href="/mock-address/change-me") Служба поддержки
				a.nav__link(href="/mock-address/change-me") Услуги
			li.nav__item.nav__item--about-us
				h2.nav__title О нас
				a.nav__link(href="/mock-address/change-me") О сервисе
				a.nav__link(href="/mock-address/change-me") Наша команда
				a.nav__link(href="/mock-address/change-me") Вакансии
				a.nav__link(href="/mock-address/change-me") Инвесторы
			li.nav__item.nav__item--supports
				h2.nav__title Служба поддержки
				a.nav__link(href="/mock-address/change-me") Соглашения
				a.nav__link(href="/mock-address/change-me") Сообщества
				a.nav__link(href="/mock-address/change-me") Связь с нами
			li.nav__item.nav__item--subscribe
				h2.nav__title Подписка
				p.nav__text Получайте специальные предложения и новости сервиса
				input.nav__input(type="email" id="email" placeholder="Email")
	div.footer__column.footer__column--bottom
		p.copyright Copyright © 2018 Toxin отель. Все права зачищены.
		div.social
			a.btn.btn--twitter(target="_blank" rel="noopener noreferrer") 
			a.btn.btn--facebook(target="_blank" rel="noopener noreferrer") 
			a.btn.btn--instagramm(target="_blank" rel="noopener noreferrer") 