footer.footer
	div.footer__column.footer__column--top
		div.general-info
			img.general-info__logo(src="../images/logo.png" width="106" heigth="40" alt="Логотип")
			p.general-info__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
		nav.nav.footer__nav
			ul.nav__list.nav__list--navigation
				h3.nav__title Навигация
				li.nav__item
					a.nav__link(href="/mock-address/change-me") О нас
				li.nav__item
					a.nav__link(href="/mock-address/change-me") Новости
				li.nav__item
					a.nav__link(href="/mock-address/change-me") Служба поддержки
				li.nav__item
					a.nav__link(href="/mock-address/change-me") Услуги
			ul.nav__list.nav__list--about-us
				h3.nav__title О нас
				li.nav__item
					a.nav__link(href="/mock-address/change-me") О сервисе
				li.nav__item
					a.nav__link(href="/mock-address/change-me") Наша команда
				li.nav__item
					a.nav__link(href="/mock-address/change-me") Вакансии
				li.nav__item
					a.nav__link(href="/mock-address/change-me") Инвесторы
			ul.nav__list.nav__list--supports
				h3.nav__title Служба поддержки
				li.nav__item
					a.nav__link(href="/mock-address/change-me") Соглашения
				li.nav__item
					a.nav__link(href="/mock-address/change-me") Сообщества
				li.nav__item
					a.nav__link(href="/mock-address/change-me") Связь с нами
		div.subscribe
			h3.subscribe__title Подписка
			p.subscribe__text Получайте специальные<br> предложения и новости сервиса
			div.subscribe__email
				input.subscribe__input(type="email" id="email" placeholder="Email")
				input.subscribe__input.subscribe__input--submit(type="submit")
	div.footer__column.footer__column--bottom
		p.copyright Copyright © 2018 Toxin отель. Все права зачищены.
		div.social
			a.social-btn.social-btn--twitter(target="_blank" rel="noopener noreferrer") 
			a.social-btn.social-btn--facebook(target="_blank" rel="noopener noreferrer") 
			a.social-btn.social-btn--instagramm(target="_blank" rel="noopener noreferrer") 