div.date-picker(id="date-picker-wrapper")
	label.date-picker__label Прибытие
		input.date-picker__input.date-picker__input--arrival(id="date-picker" placeholder="ДД.ММ.ГГГГ" redonly)
	label.date-picker__label Выезд
		input.date-picker__input.date-picker__input--departure(placeholder="ДД.ММ.ГГГГ" redonly)



div.date-picker(id="date-picker-wrappers")
	label.date-picker__label Прибытие
		input.date-picker__input.date-picker__input--arrival(id="date-pickers" placeholder="ДД.ММ.ГГГГ" redonly)
	label.date-picker__label Выезд
		input.date-picker__input.date-picker__input--departure(placeholder="ДД.ММ.ГГГГ" redonly)