div.login-block
	h1.login-block__title Войти
	form.registration__form(method="post" action="#")
		input.login-block__input(type="text" placeholder="Email")
		input.login-block__input(type="text" placeholder="Пароль")
		button.btn.login-block__submit Войти
	div.login-block__inner
		p.login-block__text Нет аккаунта на Toxin?
		a.btn.login-block__link создать
