div.order-card
	div.order-card__row
		p.order-card__number № 888 <span class="status">Люкс</span>
		p.order-card__price-for-day 9 990 <span class="currency">₽</span><span class="small-text">в сутки</span>
	div.datepicker-wrapper
		label.datepicker__label(for="datepicker-here") Прибытие
			input.datepicker__input(id="datepicker-here" placeholder="ДД.ММ.ГГГГ" redonly)
		label.datepicker__label(for="datepicker-there") Выезд
			input.datepicker__input(id="datepicker-there" placeholder="ДД.ММ.ГГГГ" redonly)